@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:root {
  --gray-2: #e9ecef;
  --gray-7: #495057;
  --pink: #d6336c;
  --font-size-1: 0.95rem;
  --letter-space-1: 0.7px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--gray-7);
}

/***************************
Header Section
****************************/
header {
  padding: 0 40px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
}

header.sticky {
  position: fixed;
  top: 0;
}

header.sticky + section {
  padding-top: 146.5px;
}
header .top {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1.3fr 2.5fr 2.5fr 0.4fr;
  align-items: end;
  gap: 20px;
}

header .top #logo {
  width: 100%;
  cursor: pointer;
  min-width: 265px;
}

header .top #search-box {
  position: relative;
}

header .top #search-box input {
  background-color: var(--gray-2);
  border: 2px solid var(--gray-2);
  border-radius: 5px;
  padding-left: 20px;
  height: 42px;
  width: 100%;
  font-size: var(--font-size-1);
  letter-spacing: var(--letter-space-1);
  outline: none;
  transition: all 0.3s ease;
}

header .top #search-box input:focus {
  border-color: var(--gray-7);
}

header .top #search-box button {
  background-color: var(--gray-3);
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  font-size: var(--font-size-1);
  color: var(--gray-7);
  position: absolute;
  right: 0;
  height: 42px;
  width: 60px;
  transition: all 0.3s ease;
}

header .top #icons {
  display: flex;
  gap: 35px;
  margin-bottom: 5px;
}
header .top #icons i {
  font-size: 1.5rem;
  cursor: pointer;
}

header .bottom {
  padding: 40px 20px 3px 20px;
  display: flex;
  gap: 30px;
}

header .bottom a {
  font-size: var(--font-size-1);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: var(--letter-space-1);
  word-spacing: 1.15px;
  color: var(--gray-7);
  border-bottom: 1.6px solid white;
  padding-bottom: 5px;
  transition: all 0.3s ease;
}

header .bottom a:hover {
  border-color: var(--pink);
  color: var(--pink);
}

footer {
  font-weight: bold;
  color: var(--pink);
}
