@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --gray: #e9ecef;
  --black: #495057;
  --pink: #d6336c;
  --pink0: #fff0f6;
  --pink1: #ffdeeb;
  --fontSizeSm: 0.95rem;
  --fontSizeMd: 1.5rem;
  --letterSpaceSm: 0.019rem;
  --radiusSm: 4px;
  --shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --transition: all 0.2s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--black);
  position: relative;
}

/***************************
Header Section
****************************/
header {
  padding: 0 40px;
  box-shadow: var(--shadow);
  background-color: white;
}

header.sticky {
  position: fixed;
  top: 0;
}

header.sticky + section {
  padding-top: 146.5px;
}

header .top {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1.3fr 2.5fr 2.5fr 0.6fr;
  align-items: end;
  gap: 20px;
}
header .top a i:active {
  color: var(--black);
}

header .top #logo {
  width: 100%;
  cursor: pointer;
  min-width: 265px;
}

header .top #search-box {
  position: relative;
}

header .top #search-box input {
  background-color: var(--gray);
  border: 2px solid var(--gray);
  font-size: var(--fontSizeSm);
  border-radius: 5px;
  padding-left: 20px;
  height: 42px;
  width: 100%;
  letter-spacing: var(--letterSpaceSm);
  outline: none;
  transition: all 0.3s ease;
  color: var(--black);
}

header .top #search-box input:focus {
  border-color: var(--black);
}

header .top #search-box button {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  color: var(--black);
  position: absolute;
  right: 0;
  height: 42px;
  width: 60px;
  transition: all 0.3s ease;
}

header .top #icons {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 5px;
}
header .top #icons i {
  cursor: pointer;
  font-size: var(--fontSizeMd);
}

header .top #icons #loginoutBtn {
  border: none;
  padding: 6px 10px;
  border-radius: var(--radiusSm);
  border: 2px solid var(--gray);
  font-weight: 500;
  color: var(--black);
  background-color: var(--gray);
  cursor: pointer;
  font-size: var(--fontSizeSm);
  transition: var(--transition);
}

header .top #icons #loginoutBtn:hover {
  border: 2px solid var(--black);
}

header .bottom {
  padding: 40px 20px 3px 20px;
  display: flex;
  gap: 30px;
}

header .bottom a {
  font-size: var(--fontSizeSm);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: var(--letterSpaceSm);
  word-spacing: 1.15px;
  color: var(--black);
  border-bottom: 1.6px solid white;
  padding-bottom: 5px;
  transition: all 0.3s ease;
}

header .bottom a:hover {
  border-color: var(--pink);
  color: var(--pink);
}
